@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<a href="javascript:void(0)" onclick="ShowAssetcontractPopUp('<%- data.AssetId %>')" class="btn btn-success" style="float:right">Link Contract  </a>
<label class="section-title d-inline">Contracts</label>
@(Html.DevExtreme().DataGrid<AssetProject.Models.AssetContract>()
        .ID("gridContractContainer")
        .DataSource(ds => ds.Mvc()
            .Controller("AssetContracts")
            .LoadAction("Get")
            .LoadParams(new { AssetId = Model })
            .DeleteAction("Delete")
            .Key("AssetContractID")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {

            columns.AddFor(m => m.Contract.Title);
            columns.AddFor(m => m.Contract.Vendor.VendorTitle);
            columns.AddFor(m => m.Contract.StartDate);
            columns.AddFor(m => m.Contract.EndDate);
            columns.AddFor(m => m.Contract.Description);
            columns.AddFor(m => m.ContractId).Lookup(lookup => lookup
                .DataSource(ds => ds.WebApi().Controller("AssetContracts").LoadAction("ContractsLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
            );
        })

        .Columns(columns =>
        {
            columns.Add().Width(160).Alignment(HorizontalAlignment.Center).CssClass("btn btn-outline-danger")
                        .CellTemplate(@<text>
                            @Html.DevExtreme().Button().Text("Detach").OnClick("function (e) { deleteButtonClick(data) }")
                        </text>);

        })
                    )
    
<div class="slim-mainpanel">
    <div class="container">
            <div class="table-wrapper">
                <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                    <div id="AssetContractEditPoup" class="modal fade effect-super-scaled" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
                            <form asp-area="Admin" asp-page="/AssetManagment/assetprofile" asp-page-handler="AddAssetContract" asp-route-AssetId="@Model" enctype="multipart/form-data">
                                <div class="modal-content bd-0 tx-14">
                                    <div class="modal-header pd-y-20 pd-x-25">
                                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" id="AssetDescriptiontxt"></h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="modal-body pd-25">
                                        @(Html.DevExtreme().Form<AssetProject.Models.AssetContract>()
                .ID("addassetcontract")
                .ColCount(2).Width(300).Height(280)
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.ContractId)
                    .IsRequired(true)
                    .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Lookups").LoadAction("ContractsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text").Width(150)
                    );
                })
                )

                                        <br />

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function changephotoname() {
        console.log("in photo")
        var fileName = document.getElementById("Photo").value.split("\\").pop();;
        document.getElementById("photolabel").innerHTML = fileName;

    }
    function deleteButtonClick(data) {
        var grid = $('#gridContractContainer').dxDataGrid('instance');
        var rowIndex = grid.getRowIndexByKey(data.AssetContractID)
        grid.deleteRow(rowIndex);
    }
</script>
