@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="AssetEditPoup" class="modal fade effect-super-scaled" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
        <form asp-area="Admin" asp-page="/AssetManagment/Index" asp-page-handler="EditAsset" enctype="multipart/form-data">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" id="EditAssetDescriptiontxt"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pd-25">
                @(Html.DevExtreme().Form<AssetProject.Models.Asset>()
                .ID("frmEdit")
                .ColCount(2)
                
                    @*.OnContentReady("function(e){   getData(e,data)  }")  *@
                .Items(items => {
                items.AddSimpleFor(m => m.AssetId).Editor(e => e.TextBox().ReadOnly(true)).Label(l=>l.Text(sharedResource["Asset"]));
                items.AddSimpleFor(m => m.AssetDescription).Label(l=>l.Text(sharedResource["Asset Description"]));
                items.AddSimpleFor(m => m.AssetTagId).Label(l => l.Text(sharedResource["AssetTagId"]));
                items.AddSimpleFor(m => m.AssetCost).Label(l => l.Text(sharedResource["AssetCost"]));
                items.AddSimpleFor(m => m.AssetSerialNo).Label(l => l.Text(sharedResource["AssetSerialNo"]));
                items.AddSimpleFor(m => m.AssetPurchaseDate).Label(l => l.Text(sharedResource["AssetPurchaseDate"]));
                items.AddSimpleFor(m => m.ItemId)
                .Editor(e => e
                .Lookup()
                .DataSource(ds => ds.WebApi().Controller("AssetsManagement").LoadAction("ItemsLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
                );

                items.AddSimpleFor(m => m.Photo).Editor(e => e.TextBox().ReadOnly(true));


                items.AddSimpleFor(m => m.DepreciableAsset).Editor(e => e.TextBox().ReadOnly(true)).CssClass("AssetClass").Label(l=>l.Text(sharedResource["DepreciableAsset"]));

                items.AddSimpleFor(m => m.DepreciableCost).IsRequired(true).Label(l => l.Text(sharedResource["DepreciableCost"]));

                items.AddSimpleFor(m => m.SalvageValue).IsRequired(true).Label(l => l.Text(sharedResource["Salvage Value"]));

                items.AddSimpleFor(m => m.AssetLife).IsRequired(true).Label(l => l.Text(sharedResource["Asset Life"]));

                items.AddSimpleFor(m => m.DateAcquired).IsRequired(true).Label(l => l.Text(sharedResource["Date Acquired"]));

                items.AddSimpleFor(m => m.DepreciationMethodId).IsRequired(true)
                .Editor(e => e
                .Lookup()
                .DataSource(ds => ds.WebApi().Controller("AssetsManagement").LoadAction("DepreciationMethodsLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
                ).Label(l => l.Text(sharedResource["Depreciation Method"]));

                items.AddSimpleFor(m => m.Photo).Label(k => k.Text(sharedResource["Photo"])).Template(@<text>
                     <div class="form-group">
                            @* <span> Asset Photo</span>*@
                              <div class="custom-file">
                                  <input type="file" name="file" accept=".png, .jpg, .jpeg" class="custom-file-input" onchange="changephotoname()" id="Photo">
                                  <label class="custom-file-label" for="File" id="photolabel">Choose New Photo</label>
                              </div>
                          </div>
                                </text> );

                })
                )  
               
                <br />
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@sharedResource["Save"]</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@sharedResource["Close"]</button>
            </div>
        </div>
        </form>
    </div><!-- modal-dialog -->
</div>

<script>
     function changephotoname() {
         console.log("in photo")
                var fileName = document.getElementById("Photo").value.split("\\").pop();;
                    document.getElementById("photolabel").innerHTML=fileName;
                  
            }
 


</script>