@page
@model AssetProject.Areas.Admin.Pages.SetUp.LocationTreeModel
@{
}



<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Location List</a></li>
@*                <li class="breadcrumb-item active" aria-current="page">SubCategories List</li>*@
            </ol>
            <h6 class="slim-pagetitle">Location List</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
            <label class="section-title">Location List</label>
            

            <div class="table-wrapper">
                <div id="datatable1_wrapper" class="dataTables_wrapper no-footer"> 
 @(Html.DevExtreme().TreeList<AssetProject.Models.Location>()
    .DataSource(ds => ds.Mvc()
        .Controller("Locations")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("LocationId")
    )
    .RootValue(null)
    .KeyExpr("LocationId")
    .ParentIdExpr("LocationParentId")
     .SearchPanel(seachPanel => seachPanel.Visible(true))
    @*.RemoteOperations(o => o.Filtering(true).Grouping(true).Sorting(true))*@
    .Columns(columns => {

      @*  columns.AddFor(m => m.LocationId);*@

      @*  columns.AddFor(m => m.LocationParentId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Lookups").LoadAction("LocationsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );
*@
        columns.AddFor(m => m.LocationTitle);

      @*  columns.AddFor(m => m.CountryId);

        columns.AddFor(m => m.Address);

        columns.AddFor(m => m.City);

        columns.AddFor(m => m.State);

        columns.AddFor(m => m.PostalCode);*@
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
        .Selection(s => s.Mode(SelectionMode.Single))

)
                </div>
            </div><!-- table-wrapper -->
        </div><!-- section-wrapper -->

    </div><!-- container -->
</div>