@page
@model AssetProject.Areas.Admin.Pages.Dashboards.DashboardSummaryModel
@{
}
<div class="slim-mainpanel" style="position: relative;">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
            <h6 class="slim-pagetitle">Welcome back, Mohamed</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-download-outline tx-purple"></i>
                        <div class="media-body">
                            <h1>@Model.totalAssetCount</h1>
                            <p>Total Assets</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-bookmarks-outline tx-teal"></i>
                        <div class="media-body">
                            <h1>17,583</h1>
                            <p>Total Asset Value</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-upload-outline tx-primary"></i>
                        <div class="media-body">
                            <h1>61,119</h1>
                            <p>Active</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-analytics-outline tx-pink"></i>
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Avaialble</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->

        <div class="row row-xs mg-t-10">
            <div class="col-lg-8 col-xl-9">
                <div class="row row-xs">
                    <div class="col-md-5 col-lg-6 col-xl-5">
                        <div class="card card-activities pd-20">
                            <h6 class="slim-card-title">Recent Activities</h6>
                            <p>Last activity was 1 hour ago</p>

                            <div class="media-list">
                                <div class="media">
                                    <div class="activity-icon bg-primary">
                                        <i class="icon ion-stats-bars"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Report has been updated</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-success">
                                        <i class="icon ion-trophy"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Achievement Unlocked</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-purple">
                                        <i class="icon ion-image"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Added new images</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </div><!-- media-list -->
                        </div><!-- card -->
                    </div><!-- col-5 -->
                    <div class="col-md-7 col-lg-6 col-xl-7 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                          @*  <div id="chartMultiBar1" class="chart-rickshaw rickshaw_graph"><svg width="478" height="250"><rect x="0" y="166.66666666666669" width="25.227777777777774" height="83.33333333333333" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="53.11111111111111" y="145.83333333333331" width="25.227777777777774" height="104.16666666666667" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="106.22222222222221" y="208.33333333333334" width="25.227777777777774" height="41.666666666666664" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="159.33333333333331" y="187.5" width="25.227777777777774" height="62.5" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="212.44444444444443" y="166.66666666666669" width="25.227777777777774" height="83.33333333333333" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="265.55555555555554" y="83.33333333333334" width="25.227777777777774" height="166.66666666666666" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="318.66666666666663" y="187.5" width="25.227777777777774" height="62.5" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="371.77777777777777" y="83.33333333333334" width="25.227777777777774" height="166.66666666666666" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="424.88888888888886" y="145.83333333333331" width="25.227777777777774" height="104.16666666666667" transform="matrix(1,0,0,1,0,0)" fill="#065381"></rect><rect x="25.227777777777774" y="208.33333333333334" width="25.227777777777774" height="41.666666666666664" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="78.33888888888887" y="125" width="25.227777777777774" height="125" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="131.45" y="62.5" width="25.227777777777774" height="187.5" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="184.56111111111107" y="125" width="25.227777777777774" height="125" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="237.67222222222222" y="75.00000000000001" width="25.227777777777774" height="175" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="290.7833333333333" y="166.66666666666669" width="25.227777777777774" height="83.33333333333333" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="343.8944444444444" y="125" width="25.227777777777774" height="125" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="397.00555555555553" y="187.5" width="25.227777777777774" height="62.5" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect><rect x="450.1166666666666" y="166.66666666666669" width="25.227777777777774" height="83.33333333333333" transform="matrix(1,0,0,1,0,0)" fill="#34B2E4"></rect></svg></div>
                            <div class="dash-item-overlay">
                                <h1>$3,350</h1>
                                <p class="earning-label">Today's Earnings</p>
                                <p class="earning-desc">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus...</p>
                                <a href="#" class="statement-link">View Statements <i class="fa fa-angle-right mg-l-5"></i></a>
                            </div>*@
                            @(Html.DevExtreme().Chart()
                                            .ID("GetTrainersPerCountry")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCountsPerCategory")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("name")
                                            .ValueField("count")
                                            )
                                            .Title(sharedResource["TrainersPerCountry"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                </div><!-- row -->
            </div><!-- col-9 -->
            <div class="col-lg-4 col-xl-3 mg-t-10 mg-lg-t-0">
                <div class="card card-people-list pd-20">
                    <div class="slim-card-title">People you may know</div>
                    <div class="media-list">
                        <div class="media">
                            <img src="../img/img5.jpg" alt="">
                            <div class="media-body">
                                <a href="">Amber Heard</a>
                                <p class="tx-12">Software Engineer</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="../img/img6.jpg" alt="">
                            <div class="media-body">
                                <a href="">Richard Salomon</a>
                                <p class="tx-12">Architect</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="../img/img13.jpg" alt="">
                            <div class="media-body">
                                <a href="">Warren Vito</a>
                                <p class="tx-12">Sales Representative</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="../img/img12.jpg" alt="">
                            <div class="media-body">
                                <a href="">Charlene Plateros</a>
                                <p class="tx-12">Sales Representative</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="../img/img11.jpg" alt="">
                            <div class="media-body">
                                <a href="">Allan Palban</a>
                                <p class="tx-12">Sales Representative</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                    </div><!-- media-list -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->

        <div class="row row-xs mg-t-10">
            <div class="col-lg-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h6 class="slim-card-title">User Transaction History</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="wd-10p pd-y-5">&nbsp;</th>
                                    <th class="pd-y-5">User</th>
                                    <th class="pd-y-5">Type</th>
                                    <th class="pd-y-5">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img1.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Mark K. Peters</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Email verified
                                    </td>
                                    <td>Just Now</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img2.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Karmen F. Brown</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Pending verification
                                    </td>
                                    <td>Apr 21, 2017 8:34am</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img3.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gorgonio Magalpok</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Purchased success
                                    </td>
                                    <td>Apr 10, 2017 4:40pm</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img5.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Ariel T. Hall</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Payment on hold
                                    </td>
                                    <td>Apr 02, 2017 6:45pm</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img4.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">John L. Goulette</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-pink mg-r-5 rounded-circle"></span> Account deactivated
                                    </td>
                                    <td>Mar 30, 2017 10:30am</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Transaction History</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                <div class="card card-table">
                    <div class="card-header">
                        <h6 class="slim-card-title">Product Purchases</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="wd-10p pd-y-5">&nbsp;</th>
                                    <th class="pd-y-5">Item Details</th>
                                    <th class="pd-y-5 tx-right">Sold</th>
                                    <th class="pd-y-5">Gain</th>
                                    <th class="pd-y-5 tx-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img28.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                                    </td>
                                    <td class="valign-middle tx-right">3,345</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img29.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-right">720</td>
                                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img30.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-right">1,445</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img31.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                                    </td>
                                    <td class="valign-middle tx-right">2,500</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img32.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-14 tx-right">223</td>
                                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div><!-- col-6 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
</div>