@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
     Layout = "~/Pages/Shared/Admin/_AdminLayoutSlimEmpty.cshtml";
}

@*<h1>@ViewData["Title"]</h1>*@
<div class="d-md-flex flex-row-reverse">
<div class="signin-right">
        <div class="signin-box">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>
</div>
<div class="signin-left">
        <div class="signin-box">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

          <p>We are excited to launch our new company and product Slim. After being featured in too many magazines to mention and having created an online stir, we know that ThemePixels is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p>

          <p>Browse our site and see for yourself why you need Slim.</p>

          <p><a href="#" class="btn btn-outline-secondary pd-x-25">Learn More</a></p>

          <p class="tx-12">&copy; Copyright 2018. All Rights Reserved.</p>
        </div>
      </div><!-- signin-left -->
      </div>
