@page
@model AssetProject.Areas.Admin.Pages.ItemManagement.CreateItemModel
@{
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
            </ol>
            <h6 class="slim-pagetitle">Item Information</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
            <label class="section-title">Please fill your Item information</label>
            @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

            <div class="form-layout">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Item Title: <span class="tx-danger">*</span></label>
                                <input asp-for="Item.ItemTitle" class="form-control" placeholder="Enter Item Title">
                                <span asp-validation-for="Item.ItemTitle" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Category: <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.Item.CategoryId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("CategoriesLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
                                <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                    
                    
                    <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Brand: <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.Item.BrandId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("BrandsLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
                                <span asp-validation-for="Item.BrandId" class="text-danger"></span>
                            </div>
                        </div>



                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description:</label>
                            <textarea asp-for="Item.Description" class="form-control" placeholder="Enter Description" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <span asp-validation-for="Item.Description" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                       
                    </div><!-- row -->

                    <div class="form-layout-footer">
                        <button class="btn btn-primary bd-0">Submit </button>
                        <a asp-area="Admin" asp-page="/ItemManagement/ItemList">
                            <input type='button' class="btn btn-secondary bd-0" value='Cancel' />
                        </a>
                    </div><!-- form-layout-footer -->
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->

    </div><!-- container -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

 $(function(){
    var date = new Date().toISOString().slice(0,10);

//To restrict past date

$('.date').attr('min', date);


});
    </script>
}
