@page
@model AssetProject.Areas.Admin.Pages.StoreManagment.CreateModel
@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Pages/Shared/_DevExtremeLayout.cshtml";
    }

    <h1>Create</h1>

    <h4>Store</h4>*@

<hr />
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
            </ol>
            <h6 class="slim-pagetitle">Store Information</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper">
            <div class="form-layout">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Store Title: <span class="tx-danger">*</span></label>
                                <input asp-for="Store.StoreTitle" class="form-control" placeholder="Enter Store Title" />
                                <span asp-validation-for="Store.StoreTitle" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Store Address: <span class="tx-danger">*</span></label>
                                <input asp-for="Store.Address" class="form-control" placeholder="Enter Store Address" />
                                <span asp-validation-for="Store.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Telephone Number: <span class="tx-danger">*</span></label>
                                <input asp-for="Store.Tele" class="form-control" placeholder="Enter Telephone Number" />
                                <span asp-validation-for="Store.Tele" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Mobile Number: <span class="tx-danger">*</span></label>
                                <input asp-for="Store.Mobile" class="form-control" placeholder="Enter Mobile Number" />
                                <span asp-validation-for="Store.Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Fax: <span class="tx-danger">*</span></label>
                                <input asp-for="Store.Fax" class="form-control" placeholder="Enter Fax" />
                                <span asp-validation-for="Store.Fax" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="list">Back to List</a>
        </div>
    </div><!-- container -->
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
